// posicionar todos os estilos relacionados ao controlador de projetos aqui.
//
// eles irão automaticamente ser incluídos em application.css
// você pode utilizar sass (scss) aqui: https://sass-lang.com/